<div class="columns">
  <div id="info-column" class="column is-half">
    <h1 class="title is-1">Welcome!</h1>
    <p id="info-blurb">This is a simple quiz building tool.</p>
    <h2 class="title is-2">Current Features:</h2>
    <ul>
      <li>Import/Export as JSON file</li>
      <li>Save as PDF</li>
      <li>Block-based text editor</li>
    </ul>
    <p id="foot-note">
      By: <strong>Ethan Tuning</strong>
      Source: 
    </p>
  </div>
  <div id="action-column" class="column is-half">
    
  </div>
</div>
<router-outlet></router-outlet>