<nav class="navbar" role="navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="tooltip is-tooltip-bottom" data-tooltip="Preview"><i class="material-icons">visibility</i></a>
      <a class="tooltip is-tooltip-bottom" data-tooltip="Save PDF"><i class="material-icons">save</i></a>
      <a class="tooltip is-tooltip-bottom" data-tooltip="Import JSON"><i class="material-icons">vertical_align_bottom</i></a>
      <a class="tooltip is-tooltip-bottom" data-tooltip="Export JSON"><i class="material-icons">vertical_align_top</i></a>
      <a class="tooltip is-tooltip-bottom" data-tooltip="Start Over"><i class="material-icons">delete</i></a>
      <a class="tooltip is-tooltip-bottom" data-tooltip="Close Editor"><i id="close-icon" class="material-icons">close</i></a>
    </div>
  </div>
</nav>